{% extends 'base.html' %}



{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    {% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert alert-info" style="max-width: 880px; margin-top:100px;">
      <p class="text-center">Thank you for signing up, please proceed to {{request.GET.email}} to comfirm the link by clicking. Thanks </p>
      <p class="text-center">Already Verified: <a href="{% url 'login' %}">Login</a></p>
    </div>
   {% else %}
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
            {% include 'includes/alert.html' %}
          <h4 class="card-title mb-4">Sign in</h4>
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" name="email" placeholder="Email Address" >
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" >
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <a href="{% url 'forgotpassword' %}" class="float-right">Forgot password?</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
 
    
         <p class="text-center mt-4">Don't have account? <a href="{%url 'login' %}">Sign up</a></p>
         <br><br>
         {% endif %}
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
{% endblock content %}
    